/* VARIÁVEIS CSS */
:root {
    --cor-de-texto: #464646;
    --cor-texto-menu: #EDDFB3;
    --cor-texto-rodape: #EDDFB3;
    --cor-texto-campo: #698269;
    --cor-texto-botão: #FFFFFF;
    --cor-texto-link: #464646;
    --cor-de-fundo-body: #D8CCA3;
    --cor-de-fundo-menu: #87805E;
    --cor-de-fundo-rodape: #87805E;
    --cor-de-fundo-seção: #B09B71;
    --cor-de-fundo-card: #FFFFFF;
    --cor-de-fundo-campo: #FFFFFF;
    --cor-de-fundo-botão: #698269;
    
    --fonte-primaria: 'Raleway', sans-serif;
    --fonte-secundaria: 'Playwrite CA', cursive; /* nome -assinatura */
}

/* CORPO DA PÁGINA */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    overflow-x: auto;
}

body {
    padding: 0% 0%;
    font-family: var(--fonte-primaria);
    background-color: var(--cor-de-fundo-body);
    color: var(--cor-de-texto);
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-texto-link);
}

/* MENU(cabeçalho) */
.cabecalho {
    padding: 32px 100px 32px 100px;
    background-color:var(--cor-de-fundo-menu);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__marca {
    display: flex;
    align-items: center;
    gap: 8px;
}

.cabecalho__titulo {
    color: var(--cor-texto-menu);
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    font-weight: 400;
}

.cabecalho__logo {
    max-width: 100%;
}

.navegacao__lista {
    display: flex;
    gap: 32px;
}

.navegacao__elemento a {
    color: var(--cor-texto-menu);
    font-size: 0.9rem;
    font-weight: 500;
}

/* SEÇÃO DE APRESENTAÇÃO */
.apresentacao {
    padding: 32px 100px 32px 100px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: auto;
}

.apresentacao__conteiner {
    max-width: 100%; /* Garante que o conteúdo ocupe 100% da largura disponível */
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.apresentacao__foto {
    width: 368px;
    height: auto;
}

.apresentacao__titulo {
    font-size: 3.25rem;
    font-weight: 700;
}

.apresentacao__subtitulo {
    font-size: 1.375rem;
    font-weight: 400;
    flex-wrap: wrap;
}

.redes {
    display: flex;
    justify-content: start;
    gap: 32px;
}

.redes__elemento {
    color: var(--cor-texto-link);
    font-size: 1rem;
    font-weight: 500;
}

/* SEÇÃO SOBRE MIM */
.sobre-mim {
    padding: 64px 100px 64px 100px;
    background-color: var(--cor-de-fundo-seção);
}

.sobre-mim__quadro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-mim__ilustracao {
    width: 297px;
    height: auto;
}

.sobre-mim__biografia {
    width: 100%; /* Garante que o conteúdo ocupe 100% da largura disponível */
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sobre-mim__titulo {
    font-size: 2rem;
    font-weight: 700;
}

.sobre-mim__texto {
    font-size: 1rem;
    font-weight: 400;
}

/* SEÇÃO DE HABILIDADES E HOBBIES */
.habilidades {
    padding: 32px 100px 88px 100px;
}

.hobbies {
    padding: 0px 100px 88px 100px;
}

.habilidades__quadro, .hobbies__quadro {
    width: 100%; /* Garante que o conteúdo ocupe 100% da largura disponível */
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.habilidades__titulo, .hobbies__titulo {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.habilidades__lista, .hobbies__lista {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.habilidades__elemento, .hobbies__elemento {
    width: 176px;
    height: 174px;
    padding: 16px;
    background-color: var(--cor-de-fundo-card);
    border: 1px solid #698269;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    gap: 8px;
}

.habilidades__nome, .hobbies__nome {
    color: var(--cor-de-texto);
    font-size: 1rem;
    font-weight: 700;
}

/* SEÇÃO DE FORMAÇÃO ACADÊMICA E CURSOS */
.formacao {
    padding: 82px 100px 82px 100px;
    background-color: var(--cor-de-fundo-seção);
}

.formacao__quadro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.formacao__titulo {
    font-size: 2rem;
    font-weight: 700;
}

.formacao__lista {
    max-width: 100%; /* Garante que o conteúdo ocupe 100% da largura disponível */
    height: auto;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.formacao__elemento {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.formacao_logos {
    padding: 78px 89px 78px 89px;
    background-color: var(--cor-de-fundo-card);
    border: 1px solid #698269;
    border-radius: 4px;
    display: flex;
}

.formacao__icone {
    max-width: 100%; /* Garante que o conteúdo ocupe 100% da largura disponível */
}

.formacao__informacoes {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 8px;
}

.formacao__nome {
    font-size: 1.375rem;
    font-weight: 700;
}

.formacao__detalhe{
    font-size: 1rem;
    font-weight: 500;
}

/* SEÇÃO DE PROJETOS */
.projetos {
    padding: 32px 100px 64px 100px;
}

.projetos__quadro {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.projetos__titulo {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.projetos_web {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.projetos__image {
    width: 732px;
    border-radius: 4px;
    border: 2px solid #87805E;
}

.projetos__conteiner {
    flex: 1 1 320px; /* Cada item vai ocupar o mínimo possível e crescer até 320px */
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.projetos__nome {
    font-size: 1.375rem;
    font-weight: 700;
}

.projetos__descricao {
    font-size: 1rem;
    font-weight: 500;
}

.projetos__botao {
    padding: 10px;
    width: 116px;
    height: auto;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    border: 1px solid #698269;
    border-radius: 4px;
    background-color: var(--cor-de-fundo-botão);
    color: var(--cor-texto-botão);
}

/* SEÇÃO DE CONTATO */
.contato {
    padding: 64px 100px 64px 100px;
    background-color: var(--cor-de-fundo-seção);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.contato__image {
    width: 506px;
    height: auto;
}

.contato__quadro {
    width: 100%; /* Garante que o conteúdo ocupe 100% da largura disponível */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

.contato__descricao {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contato__titulo {
    font-size: 2rem;
    font-weight: 700;
}

.contato__texto {
    font-size: 1rem;
    font-weight: 500;
}

.contato__formulario {
    width: 100%; /* Garante que o conteúdo ocupe 100% da largura disponível */
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/* ESTILOS DOS CAMPOS */
.form-grupo__campo {
    width: 100%; /* Garante que o conteúdo ocupe 100% da largura disponível */
    padding: 10px;
    color: var(--cor-texto-campo);
    background-color: var(--cor-de-fundo-campo); /* fundo branco */
    border: 1px solid #FFFFFF; /* borda branca */
    border-radius: 4px; /* bordas arredondadas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* sombra leve */
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out; /* animação de cor */
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    font-weight: 400;
    outline: none; /* sem marcação ao redor */
}

.form-grupo__campo:focus {
    border-color: var(--cor-de-fundo-botão); /* verde de foco */
    border: 2px solid #698269;
}

/* REDIRECIONAMENTO */
.form-grupo__campo--textarea {
    resize: none; /* previne redimensionamento */
    height: 100px;
}

/* mensagem-erro */
.form-grupo__erro {
    color: #803D3B;
    display: none; /* A mensagem está escondida por padrão */
}

.mostrar-erro {
    display: block; /* A mensagem é exibida quando esta classe é adicionada */
}

/* BOTÃO */
.form-botao {
    width: 165px;
    padding: 16px;
    background-color: var(--cor-de-fundo-botão);
    color: var(--cor-texto-botão);
    font-size: 1rem;
    font-weight: 400;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-botao:hover {
    background-color: #43766C; /* verde mais escuro ao passar o mouse */
}

/* RODAPÉ */
.rodape {
    padding: 32px;
    background-color: var(--cor-de-fundo-rodape);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.rodape__texto {
    color: var(--cor-texto-rodape);
    font-size: 0.875rem;
    font-weight: 500;
}